manifest {
    homePage = 'https://github.com/iarcbioinfo/gama_annot-nf'
    description = 'Use gama_annot (annovar) pipeline with nextflow'
    mainScript = 'gama_annot.nf'
}

profiles {
  conda { 
     process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = "200 min" 
	}
  docker {
    docker.enabled = true 
    process.container = 'iarcbioinfo/gama_annot-nf:v1.1'
    pullTimeout = "200 min"
  }
  singularity {
    singularity.enabled = true
    process.container = 'iarcbioinfo/gama_annot-nf:v1.1'
    pullTimeout = "200 min"
  }
  apptainer {
    apptainer.enabled = true
    process.container = 'iarcbioinfo/gama_annot-nf:v1.1'
    pullTimeout = "200 min"
  }

}


